<h1 align="center">This is Slaters Jobs!</h1>

<p>
	My name is Alex Smith and this a Ruby on Rails project I created of a very simple job board using an ATOM feed from OSU featuring their open job positions.
</p>