<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; by <a href="https://www.linkedin.com/in/alexander-smith-98b59a4b">Alex Smith</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>
